<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h1>Payroll Dashboard</h1>

<h2>
Balance:
KES {{ admin.balance }}
</h2>

<hr>

<h3>Add Employee</h3>

<form action="/add-employee" method="POST">

<input name="name" placeholder="Name">

<input name="phone" placeholder="+2547XXXXXXXX">

<button>Add</button>

</form>

<hr>

<h3>Pay Salary</h3>

<form action="/pay-salary" method="POST">

<input
name="employee_id"
placeholder="Employee ID">

<input
name="amount"
placeholder="Amount">

<button>
Send Salary
</button>

</form>

<hr>

<h3>Admin Withdrawal</h3>

<form action="/admin-withdraw" method="POST">

<input
name="amount"
placeholder="Amount">

<button>
Withdraw
</button>

</form>

<hr>

<a href="/history">
View Transactions
</a>

</body>
</html>